<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        /* Style the links as a navigation bar */
        a {
            display: block;
            padding: 10px;
            text-decoration: none;
            color: #333;
            background-color: #f0f0f0;
            border-bottom: 1px solid #ccc;
        }

        /* On hover, change link background color and text color */
        a:hover {
            background-color: #333;
            color: #fff;
        }
    </style>
</head>
<body>
    <h2>Welcome! Please use the following links to navigate!</h2>
    <a href="/name">User</a>
    <a href="/profile">User Profile</a>
    <a href="/admin">Admin Profile</a>
    <a href="/user/100">User 100</a>
    <a href="/valueofday/1980-01-24">Value day 1980/01/24</a>
</body>
</html>